n8n-workflow-clean.json
{
  "name": "Instant Real Estate Deal Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-deal",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-receive-listing",
      "name": "Webhook - Receive Listing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "real-estate-deal-webhook"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0,
          "maxTokens": 1000,
          "responseFormat": {
            "type": "json_object"
          }
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a real estate data extraction specialist. Extract structured data from listings and return ONLY valid JSON."
            },
            {
              "role": "user",
              "content": "={{ 'Extract the following information from this real estate listing as JSON:\n\nSchema:\n{\n  \"propertyTitle\": \"string\",\n  \"askingPrice\": \"number\",\n  \"renovationEstimate\": \"number (null if unknown)\",\n  \"isAirbnbLegal\": \"boolean\",\n  \"aiVerdict\": \"string (must be exactly: 游릭 BUY, 游댮 PASS, or 游리 HUMAN REVIEW)\",\n  \"aiSummary\": \"string (brief explanation, max 500 chars)\"\n}\n\nListing text: ' + $json.body.text }}"
            }
          ]
        },
        "authentication": "predefinedCredentialType",
        "credentialType": "openAiApi"
      },
      "id": "openai-extract-deal-data",
      "name": "OpenAI - Extract Deal Data",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-verdict",
              "leftValue": "={{ JSON.parse($json.choices[0].message.content).aiVerdict }}",
              "rightValue": "游릭 BUY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "validate-verdict-2",
              "leftValue": "={{ JSON.parse($json.choices[0].message.content).aiVerdict }}",
              "rightValue": "游댮 PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "validate-verdict-3",
              "leftValue": "={{ JSON.parse($json.choices[0].message.content).aiVerdict }}",
              "rightValue": "游리 HUMAN REVIEW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "validate-ai-verdict",
      "name": "Validate AI Verdict",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "base": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Deal Opportunities",
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "Property Title": "={{ JSON.parse($json.choices[0].message.content).propertyTitle }}",
            "Asking Price": "={{ JSON.parse($json.choices[0].message.content).askingPrice }}",
            "Renovation Estimate": "={{ JSON.parse($json.choices[0].message.content).renovationEstimate }}",
            "Is Airbnb Legal?": "={{ JSON.parse($json.choices[0].message.content).isAirbnbLegal }}",
            "AI Verdict": "={{ JSON.parse($json.choices[0].message.content).aiVerdict }}",
            "AI Summary": "={{ JSON.parse($json.choices[0].message.content).aiSummary }}"
          }
        },
        "options": {}
      },
      "id": "airtable-save-deal-opportunity",
      "name": "Airtable - Save Deal Opportunity",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "airtableApi": {
          "id": "airtable-credential",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const openaiResponse = $input.item.json;\nlet extractedData;\n\ntry {\n  extractedData = JSON.parse(openaiResponse.choices[0].message.content);\n} catch (error) {\n  return {\n    error: 'Failed to parse OpenAI response',\n    details: error.message\n  };\n}\n\nreturn {\n  success: false,\n  error: 'Invalid AI verdict value',\n  receivedVerdict: extractedData.aiVerdict || 'undefined',\n  expectedValues: ['游릭 BUY', '游댮 PASS', '游리 HUMAN REVIEW'],\n  extractedData: extractedData\n};"
      },
      "id": "handle-error-invalid-verdict",
      "name": "Handle Error - Invalid Verdict",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook - Receive Listing": {
      "main": [
        [
          {
            "node": "OpenAI - Extract Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Extract Deal Data": {
      "main": [
        [
          {
            "node": "Validate AI Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI Verdict": {
      "main": [
        [
          {
            "node": "Airtable - Save Deal Opportunity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error - Invalid Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Save Deal Opportunity": {
      "main": [
        [
          {
            "node": "Handle Error - Invalid Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
